.bx-pagination {
  @media(max-width: 500px) {
    display: none;
  }
  
  .bx-pagination-container {
    ul {
      list-style: none;
      display: flex;
      position: relative;
      
      li {
        width: 50px;
        height: 50px;
        background: #FAFAFA;
        border-radius: 120px;
        transition: .2s;
        margin-right: 15px;
  
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        
        @media(max-width: 768px) {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
        
        &.bx-active {
          background: #1F1F1F;
          
          span {
            color: #fff;
          }
        }
        
        &:hover {
          background: #1F1F1F;
          
          span {
            color: #fff;
          }
        }
        
        span {
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 1;
          color: #797979;
          position: relative;
          top: -2px;
  
          @media(max-width: 768px) {
            top: -1px;
            font-size: 16px;
          }
        }
        
        &.bx-pag-prev {
          width: 51px;
          height: 66px;
          
  
          position: absolute;
          right: 51px;
          top:50%;
          transform: translateY(-50%);
          cursor: pointer;
          
          border-radius: 0;
          background: transparent;
  
          @media(max-width: 768px) {
            width: 40px;
            height: 50px;
            right: 40px;
          }
          
          
          a, span {
            display: block;
            width: 100%;
            height: 100%;
            background: #FBF7F0;
            border-radius: 120px 0 0 120px;
            top: 0;
            
            &:after {
              content: "";
              position: absolute;
              right: 18px;
              top: 50%;
              transform: translateY(-50%);
              width: 11px;
              height: 19px;
              background: url("../ico/arrow-left.svg") center center no-repeat;
    
              @media(max-width: 768px) {
                right: 14px;
              }
            }
            
            span {
              display: none;
            }
          }
          
          span {
            cursor: default;
            opacity: .4;
            font-size: 0;
          }
          
          transition: .2s;
          &:hover {
            a {
              background-color: #C7B386;
            }
            
            span {
              background: #FBF7F0;
            }
          }
        }
        
        &.bx-pag-next {
          width: 51px;
          height: 66px;
          background: #FBF7F0;
          border-radius: 0 120px 120px 0;
  
          position: absolute;
          right: 0;
          top:50%;
          transform: translateY(-50%);
          cursor: pointer;
  
          border-radius: 0;
          background: transparent;
  
          transition: .2s;
          &:hover {
            a {
              background-color: #C7B386;
            }
          }
  
          @media(max-width: 768px) {
            width: 40px;
            height: 50px;
          }
          
          span {
            cursor: default;
            opacity: .4;
            font-size: 0;
          }
          
          a,span {
            background: #FBF7F0;
            border-radius: 0 120px 120px 0;
            
            &:after {
              content: "";
              position: absolute;
              left: 18px;
              top: 50%;
              transform: translateY(-50%) rotate(180deg);
              transform-origin: center center;
              width: 11px;
              height: 19px;
              background: url("../ico/arrow-left.svg") center center no-repeat;
    
              @media(max-width: 768px) {
                left: 14px;
              }
            }
          }
        }
        
        &.bx-active {
        
        }
        
        > a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          user-select: none;
          cursor: pointer;
          
          span {
          
          }
        }
        
        > span {
        
        }
      }
    }
  }
}