.checkout {
  background: #FBFBFB;
  
  @media(max-width: 768px) {
    background-color: #fff;
  }
  
  &__wrap {
    display: flex;
    flex-wrap: wrap;
  
    @media(max-width: 992px) {
      flex-wrap: wrap;
    }
  
    @media(max-width: 768px) {
      width: calc(100% + 40px);
      margin-left: -20px;
    }
  
    @media(max-width: 370px) {
      width: calc(100% + 30px);
      margin-left: -15px;
    }
  
  
    h1 {
      width: 100%;
  
      @media(max-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 30px;
        letter-spacing: -0.2px;
        margin-bottom: 30px;
      }
  
      @media(max-width: 370px) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  
  &__form {
    width: calc(100% - 323px);
    padding-right: 48px;
    
    @media(max-width: 992px) {
      width: 100%;
      padding-right: 0;
    }
    
    &-item {
      border: 1px solid #F4F4F4;
      box-sizing: border-box;
      border-radius: 5px;
      margin-bottom: 20px;
      background-color: #fff;
  
      @media(max-width: 768px) {
        border-left: none;
        border-right: none;
        border-bottom: none;
        margin-bottom: 0;
        border-radius: 0;
      }
      
      &.first {
        .checkout__form-content {
          display: flex;
          flex-wrap: wrap;
          padding-top: 59px;
          padding-bottom: 27px;
  
          @media(max-width: 1280px) {
            justify-content: space-between;
          }
  
          @media(max-width: 1080px) {
            padding-top: 20px;
            padding-bottom: 10px;
          }
          
          @media(max-width: 768px) {
            padding-top: 0;
            margin-top: 18px;
            padding-bottom: 5px;
          }
        }

        
        .input-block {
          width: 311px;
          margin-right: 48px;
          margin-bottom: 34px;
          
          @media(max-width: 1280px) {
            margin-right: 0;
            width: calc(50% - 15px);
          }
  
          @media(max-width: 992px) {
            width: 100%;
          }
          
          @media(max-width: 768px) {
            margin-bottom: 28px;
          }
        }
      }
      
      &.second {
        .half {
          @media(max-width: 1200px) {
            justify-content: space-between;
            
            > div {
              width: 50%;
              
              @media(max-width: 480px) {
                width: 100%;
              }
            }
            
            &-second {
              margin-top: 0;
              justify-content: flex-end;
  
              @media(max-width: 480px) {
                margin-top: 20px;
                justify-content: flex-start;
              }
            }
          }
        }
  
        .input-block {
    
          @media(max-width: 768px) {
            margin-bottom: 28px;
          }
        }
      }
      
      &.third {
        .checkout__form-content {
          padding-top: 47px;
          padding-bottom: 22px;
  
          @media(max-width: 992px) {
            padding-top: 20px;
            padding-bottom: 10px;
          }
  
          @media(max-width: 768px) {
            padding-top: 30px;
            padding-bottom: 35px;
          }
        }
      }
    }
    
    &-head {
      padding: 30px 50px;
      border-bottom: 1px solid #F4F4F4;
  
      @media(max-width: 1080px) {
        padding-left: 20px;
        padding-right: 20px;
      }
  
      @media(max-width: 768px) {
        border-bottom: none;
        padding-bottom: 0;
      }
      
      .half {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        @media(max-width: 1200px) {
          flex-wrap: wrap;
          justify-content: flex-start;
        }
        
        > div {
          @media(max-width: 1200px) {
            width: 100%;
          }
        }
        
        &-first {
          flex: 0 1 auto;
        }
        
        &-second {
          flex: 1 0 auto;
          display: flex;
          align-items: center;
          justify-content: flex-end;
  
          @media(max-width: 1200px) {
            flex-wrap: wrap;
            margin-top: 20px;
            justify-content: space-between;
          }
          
          @media(max-width: 768px) {
            margin-top: 28px;
          }
          
          em {
            margin-right: 26px;
          }

          .pickupstore {
            span {
              &:after {
                top: 2px;
              }
            }
          }
        }
      }
      
      em {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: #969696;
        width: 206px;
        
        @media(max-width: 480px) {
          width: 100%;
          margin-bottom: 10px;
        }
      }
      
      button, .btn-silver {
        height: 42px;
        min-width: 164px;
        
        span {
          font-size: 11px;
        }
      }
      
      .label-check {
        display: flex;
        i {
          width: 30px;
          height: 30px;
          background: #6BC885;
          margin-right: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          flex: 1 0 auto;
        }
        
        svg {
          width: 12px;
          height: 9px;
          fill: #fff;
        }
        
        span {
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          color: #1F1F1F;
          width: calc(100% - 30px);
          position: relative;
          top: 2px;

          @at-root html.bx-firefox.bx-retina &, html.browser-chrome.bx-retina & {
            top: 4px;
          }
        }
        
      }
    }
    
    &-content {
      padding-left: 50px;
      padding-right: 50px;
  
      @media(max-width: 1080px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    
  }
  
  &-map {
    padding-top: 44px;
    padding-bottom: 64px;
  
    @media(max-width: 1080px) {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  
    @media(max-width: 768px) {
      padding-bottom: 35px;
    }
    
    &__inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      .input-block {
        width: calc(20% - 22px);
        margin-bottom: 31px;
  
        @media(max-width: 1280px) {
          width: calc(50% - 15px);
        }
  
        @media(max-width: 992px) {
          width: 100%;
        }
        
        .errmsg {
          font-size: 10px;
        }

        &.big {
          width: calc(50% - 18px);
          
          @media(max-width: 992px) {
            width: 100%;
          }
  
          .errmsg {
            font-size: 13px;
          }
        }
      }
    }
    
    &__map {
      display: none;
      
      .head {
        display: flex;
  
        @media(max-width: 1180px) {
          flex-wrap: wrap;
          justify-content: space-between;
        }
        
        em {
          font-weight: normal;
          font-size: 13px;
          line-height: 1.2;
          color: #969696;
          font-style: normal;
          width: 24.9%;
          
          @media(max-width: 1180px) {
            width: 100%;
            margin-bottom: 20px;
          }
        }
        
        h2 {
          font-style: normal;
          font-weight: 500;
          font-size: 25px;
          line-height: 33px;
          color: #000000;
  
          position: relative;
          top: -12px;
          padding-right: 20px;
          margin-bottom: 0;
  
          @media(max-width: 1280px) {
            flex: 0 1 auto;
          }
  
          @media(max-width: 1180px) {
            width: calc(100% - 200px);
            flex: 0 1 auto;
            box-sizing: border-box;
          }
  
          @media(max-width: 768px) {
            width: 100%;
          }
        }
        
        > div {
          width: 50%;
          display: flex;
          flex-direction: column;
          
          @media(max-width: 1280px) {
            width: 200px;
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
          }
  
          @media(max-width: 1180px) {
            width: 200px;
            flex: 0 1 auto;
          }
          
          @media(max-width: 768px) {
            width: 100%;
          }
          
          a {
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 1;
            color: #000000;
            margin-left: 10px;
            white-space: nowrap;
            transition: .2s;
            text-align: right;
            
            &:hover {
              color: #C7B386;
            }
  
            @media(max-width: 1280px) {
              text-align: right;
              margin-bottom: 10px;
            }
  
            @media(max-width: 768px) {
              text-align: left;
              margin-left: 0;
            }
          }
          
          span {
            font-weight: normal;
            font-size: 13px;
            line-height: 1.2;
            color: #000000;
            display: block;
            width: 100%;
            text-align: right;
            margin-top: 18px;
            flex-wrap: wrap;
            
            em {
              display: inline-block;
              color: inherit;
              font-size: inherit;
              line-height: inherit;
              white-space: nowrap;
              width: auto;
              margin: 0;
            }
            
            @media(max-width: 1280px) {
              margin-top: 0;
            }
  
            @media(max-width: 768px) {
              text-align: left;
            }
          }
        }
      }
      
      .map {
        margin-top: 40px;
        
        @media (max-width: 768px) {
          margin-top: 20px;
        }
      }
  
      #map, .map {
        height: 247px;
        margin-bottom: 40px;
      }
    }
  }
  
  &__textarea {
    margin-top: 28px;
  
    @media(max-width: 992px) {
      margin-top: 10px;
    }
  
    @media(max-width: 768px) {
      margin-top: 6px;
    }
    
    > span {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: #1F1F1F;
      display: block;
      width: 100%;
      margin-bottom: 20px;
  
      @media(max-width: 992px) {
        margin-bottom: 10px;
      }
  
      @media(max-width: 768px) {
        margin-bottom: 7px;
      }
    }
  }
  
  &__result {
    width: 323px;
  
    @media(max-width: 992px) {
      width: 100%;
    }
  
    @media(max-width: 768px) {
      background: #FBFBFB;
    }
    
    &-wrap {
      position: sticky;
      top: 93px;
  
      border: 1px solid #F4F4F4;
      box-sizing: border-box;
      border-radius: 5px;
  
      padding-left: 29px;
      padding-right: 24px;
      padding-bottom: 33px;
      background-color: #fff;
  
      @media(max-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
        background: #FBFBFB;
        border-radius: 0;
      }
    }
    
    &-head {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #F4F4F4;
  
      padding-top: 26px;
      padding-bottom: 17px;
      
      @media(max-width: 768px) {
        margin-bottom: 22px;
      }
      
      span {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #1F1F1F;
      }
      
      em {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #C7B386;
      }
    }
    
    &-content {
      border-bottom: 1px solid #F4F4F4;
      padding-top: 22px;
  
      @media(max-width: 768px) {
        padding-top: 0;
      }
      
      .line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;
        
        span {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 1.2;
          color: #858585;
          flex: 0 1 auto;
        }
        
        em {
          flex: 0 1 auto;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 1.2;
          color: #000000;
        }
      }
    }
    
    &-footer {
      padding-top: 22px;
  
      .policy-check {
        margin-bottom: 29px;
        
        @media(max-width: 768px) {
          margin-bottom: 20px;
        }
      }
      
      button, .btn {
        @media(max-width: 768px) {
          min-width: 100%;
        }
      }

      em {
        display: block;
        margin-top: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: #969696;
        text-align: center;

        span {
          color: red;
          display: inline-block;
          margin-right: 2px;
        }
      }
    }
  }
}

.payment-radio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  &__item {
    width: calc(50% - 13px);
    position: relative;
    margin-bottom: 28px;
    
    @media(max-width: 1080px) {
      width: calc(50% - 5px);
      margin-bottom: 10px;
    }
  
    @media(max-width: 992px) {
      width: 100%;
      //margin-bottom: 10px;
    }
    
    @media(max-width: 768px) {
      margin-bottom: 14px;
    }
  }
  
  input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
  }
  
  input:checked + label {
    border-color: #C7B386;
    
    &:after {
      box-shadow: 0 0 0 1px #C7B386;
      background: #C7B386;
    }
  }
  
  label {
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    min-height: 90px;
    user-select: none;
    cursor: pointer;
    padding: 20px 20px 20px 60px;
    transition: .2s;
    
    &:after {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background: transparent;
      position: absolute;
      border: 6px solid #fff;
      box-shadow: 0 0 0 1px #EBE4D5;
      box-sizing: content-box;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      transition: .2s;
      //margin-top: -2px;
    }
    
    &.text-top {
      &:after {
        transform: translateY(0);
        left: 20px;
        top: 20px;
      }
    }
    
    b {
      display: block;
      width: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      color: #1F1F1F;
      position: relative;
      top: -1px;
    }
    
    span {
      margin-top: 10px;
      display: block;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 1.2;
      color: #676767;
    }
  }
}
