html, body {
  min-height: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Graphik LCG';
  line-height: 1;
  min-width: 320px;
}

.blockattach {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &__content {
    flex: 1 0 auto;
  
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

section {
  width: 100%;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 1.2;
  color: #1F1F1F;
  
  @media(max-width: 768px) {
    font-size: 30px;
  }
}


p {
  font-family: Graphik LCG;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.01em;
}


ul, ol {
  padding: 0;
  margin: 0;
  // list-style: none;
}

a {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 0px;
  color: #C7B386;
  transition: .2s;
  text-decoration: none;
  
  &:hover {
    color: #1F1F1F;
  }
  
  &:focus {
    color: #595959;
  }
}

.btn {
  border: 1px solid #1F1F1F;
  box-sizing: border-box;
  border-radius: 60px;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 17px;
  cursor: pointer;
  transition: .2s;
  text-decoration: none;
  outline: none;
  position: relative;
  background-color: #fff;
  
  @media(max-width: 992px) {
    height: 30px;
    padding: 0 10px;
  }
  
  &:hover {
    text-decoration: none;
    background-color: #1F1F1F;
    
    span {
      color: #fff;
    }
    
    svg {
      fill: #fff;
    }
  }
  
  span {
    transition: .2s;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 0;
    /* identical to box height, or 0% */
    
    letter-spacing: 0.1em;
    
    color: #1F1F1F;
    position: relative;
    top: -1px;
  
    display: flex;
    align-items: center;
    
    @media(max-width: 992px) {
      font-size: 9px;
      top: 0;
    }
  }
  
  svg {
    width: 13px;
    height: 13px;
    margin-right: 6px;
    transition: .2s;
  }
  
  &-submenu {
    position: relative;
    
    &:hover {
      .btn-submenu__list {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
      }
      
      &:after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        height: 15px;
        background-color: transparent;
        display: block;
      }
    }
    
    @media(max-width: 768px) {
      padding: 0;
      background-color: transparent;
      border: 0;
      
      span {
        font-size: 0;
      }
      
      svg {
        width: 21px;
        height: 21px;
        margin: 0;
      }
      
      &:hover {
        background-color: transparent;
        
        svg {
          fill: #1f1f1f;
        }
      }
    }
    
    &__list {
      background: #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      position: absolute;
      margin-top: 15px;
      top: 100%;
      left: 0;
      text-align: left;
      width: 177px;
      
      transition: .2s;
      transform: translateY(10%);
      opacity: 0;
      pointer-events: none;
      
      padding: 8px 23px 4px 15px;
      border: 1px solid #ECECEC;
      
      @media(max-width: 1400px) {
        left: inherit;
        right: 0;
      }
      
      @media(max-width: 768px) {
        right: -29px;
      }
      
      &:after, &:before {
        bottom: 100%;
        left: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
  
        @media(max-width: 1400px) {
          left: inherit;
          right: 30px;
        }
      }
  
      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 8px;
        margin-left: -8px;
  
      }
      &:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #ECECEC;
        border-width: 10px;
        margin-left: -10px;
  
        @media(max-width: 1400px) {
          margin-right: -3px;
        }
        
      }
  
      hr {
        height: 1px;
        border: 0;
        background-color: #ECECEC;
        margin-bottom: 0;
        margin-top: 7px;
      }
      
      a {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 1.2;
        color: #000000;
        display: block;
  
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 4px;
        
        &:hover {
          color: #E0D4B8;
        }
      
        &.exit {
          color: #E05C5C;
  
          &:hover {
            color: #E0D4B8;
          }
        }
      }
    }
    
  }
}

.btn-line {
  outline: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  position: relative;
  
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 115%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  //&#{&}--reverse {
  //  span {
  //    &:before {
  //      content: "";
  //      display: inline-block;
  //      width: 47px;
  //      height: 1px;
  //      background: #C7B386;
  //      transform: none;
  //      position: relative;
  //      border: 0;
  //      margin-right: 29px;
  //    }
  //
  //    &:after {
  //      content: "";
  //      width: 8px;
  //      height: 8px;
  //      background: #C7B386;
  //      position: absolute;
  //      top: 50%;
  //      left: 0;
  //      //transform: translateY(-50%);
  //      // transform-origin: center center;
  //      border-radius: 100%;
  //      transition: .2s;
  //
  //      transform-origin: center center;
  //      transform: translateY(-50%) rotate(45deg);
  //      border: 1px solid #C7B386;
  //
  //      margin: 0;
  //    }
  //
  //    &:hover {
  //      span {
  //        &:before {
  //          opacity: 0;
  //          background: #C7B386 !important;
  //        }
  //
  //        &:after {
  //          background: transparent !important;
  //          border-left-color: transparent;
  //          border-bottom-color: transparent;
  //          border-radius: 0;
  //        }
  //      }
  //    }
  //  }
  //}
  //
  &:hover {
    span {
      &:before {
        background: transparent !important;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 0;
        transform: translate(-50%, -50%) rotate(45deg) scale(.85);
        right: -4px;
      }
    }
  }
  
  &#{&}--textsize {
    span {
      font-size: 13px;
    }
  }
  
  &#{&}--black {
    &:hover {
      span {
        &:before {
          border-color: #1F1F1F;
          border-left-color: transparent;
          border-bottom-color: transparent;
        }
      }
    }
    
    span {
      &:after {
        background: #1F1F1F;
      }
  
      &:before {
        background: #1F1F1F;
        border-color: #1F1F1F;
      }
    }
  }
  
  span {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 0.1em;
    color: #363B3F;
    
    display: flex;
    align-items: center;
    position: relative;
    transition: .2s;
    
    &:after {
      content: "";
      display: inline-block;
      width: 47px;
      height: 1px;
      background: #C7B386;
      margin-left: 29px;
    }
    
    &:before {
      content: "";
      width: 8px;
      height: 8px;
      background: #C7B386;
      position: absolute;
      top: 50%;
      right: 0;
      //transform: translateY(-50%);
      // transform-origin: center center;
      border-radius: 100%;
      transition: .2s;
      
      transform-origin: center center;
      transform: translateY(-50%) rotate(45deg);
      border: 1px solid #C7B386;
    }
  }
}

.modalhead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ECECEC;
  
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
  padding-bottom: 23px;
  
  @media(max-width: 370px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  span {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    position: relative;
    top: -2px;
  }
  
  svg {
    width: 17px;
    height: 17px;
    cursor: pointer;
  }
  
  div {
    position: relative;
    
    &:after {
      content: "";
      width: 400%;
      height: 300%;
      background-color: transparent;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-50%, -50%);
    }
  }
}

.social {
  ul {
    display: block;
    list-style: none;
  }
  
  li {
    width: auto;
    margin-right: 7px;
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  a {
    width: 32px;
    height: 32px;
    background: #FBF7F0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover {
      background-color: #C7B386;
      
      svg {
        fill: #fff;
      }
    }
    
    img, svg {
      width: 12px;
      height: 12px;
      fill: #C7B386;
      transition: .2s;
    }
  }
}

.swiper-button-next, .swiper-button-prev {
  width: 15px;
  height: 28px;
  color: #434B50;
  transition: .2s;
  
  &:after {
    width: 100%;
    height: 100%;
    font-size: 29px;
  }
  
  &:hover {
    opacity: .5;
  }
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}


// Arow Slider
.arrow-slider {
  width: 144px;
  height: 85px;
  background: #FBF7F0;
  border-radius: 120px;
  display: flex;
  position: relative;
  
  @media(max-width: 992px) {
    width: 120px;
    height: 70px;
  }
  
  @media(max-width: 560px) {
    width: 81px;
    height: 47px;
  }
  
  &#{&}--black {
    background: rgba(255, 255, 255, 0.1);
    
    svg {
      fill: #fff;
    }
  }
  
  &__prev, &__next {
    outline: none;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    
    svg {
      width: 15px;
      height: 28px;
      fill: #1F1F1F;
      transition: .2s;
  
      @media(max-width: 560px) {
        width: 8px;
        height: 15px;
      }
    }
    
    &:hover {
      svg {
        opacity: .3;
      }
    }
    
    &.swiper-button-disabled {
      svg {
        opacity: .1;
      }
    }
  }
  
  &__prev {
    width: 50%;
    
    svg {
      margin-right: -14px;
      
      @media(max-width: 992px) {
        margin-right: 0;
      }
  
      @media(max-width: 560px) {
        margin-right: -8px;
      }
    }
  }
  
  &__next {
    width: 50%;
    
    svg {
      margin-left: -14px;
      
      @media(max-width: 992px) {
        margin-left: 0;
      }
  
      @media(max-width: 560px) {
        margin-left: -8px;
      }
    }
  }
}


// product
.product {
  width: 100%;
  height: 558px;
  background: #FAFAFA;
  overflow: hidden;
  display: inline-block;
  position: relative;
  display: flex;
  align-items: flex-end;
  
  @media(max-width: 1080px) {
    height: 466px;
  }
  
  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    
    &-item {
      width: 100%;
      height: 100%;
      // posa
      display: none;
      
      &.active {
        display: block;
      }
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  
  &:hover {
    @media(min-width: 1025px) {
      .product__info {
        transform: translateY(0);
      }
      
      .product__pagination {
        transform: translate(-50%, -100%);
      }
    }
  }
  
  &__info {
    position: relative;
    z-index: 2;
    background-color: #fff;
    //width: 100%;
    padding-right: 70px;
    
    padding-top: 24px;
    padding-bottom: 28px;
    
    transition: .2s;
    will-change: transform;
    
    width: calc(100% + 2px);
    margin-left: -1px;
    
    @media(min-width: 1025px) {
      transform: translateY(100%);
    }
    
    @media(max-width: 400px) {
      padding-bottom: 15px;
    }
    
    span {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 1.2;
      color: #1F1F1F;
      width: 100%;
      display: block;
      margin-bottom: 12px;
      
      @media(max-width: 768px) {
        font-size: 16px;
      }
    }
    
    em {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      color: #C7B386;
      
      @media(max-width: 768px) {
        font-size: 13px;
      }
    }
    
    .btn-addcart {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
  
  &__pagination {
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #fff;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    
    min-width: 108px;
    //padding-left: 20px;
    //padding-right: 20px;
    height: 37px;
    border-radius: 60px 60px 0 0;
    
    @media(max-width: 1025px) {
      transform: translate(-50%, -100%);
    }
    
    span {
      display: block;
      width: 9px;
      height: 9px;
      background: #E5E5E5;
      border-radius: 100%;
      transition: .2s;
      margin: 0 4px;
      position: relative;
      top: 3px;
      
      &:after {
        content: "";
        width: 190%;
        height: 350%;
        background-color: transparent;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
      }
      
      &.active {
        background: #1F1F1F;
      }
    }
  }
}

.btn-addcart {
  outline: none;
  width: 50px;
  height: 50px;
  background: #1F1F1F;
  border: 1px solid #1F1F1F;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
  transition: .3s;
  box-sizing: border-box;
  
  @media(max-width: 768px) {
    width: 40px;
    height: 40px;
  }
  
  svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    transition: .3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .check {
    // display: none;
    opacity: 0;
  }
  
  &:hover {
    background-color: #fff;
    
    svg {
      fill: #1F1F1F;
    }
  }
  
  &.check {
    background-color: #fff;
    
    svg {
      fill: #1F1F1F;
    }
    
    .check {
      opacity: 1;
    }
    
    .cart {
      opacity: 0
    }
  }
}

.btn-submit {
  min-width: 298px;
  height: 56px;
  background: #1F1F1F;
  border-radius: 5px;
  
  display: inline-flex;
  align-items: center;
  
  padding-left: 30px;
  padding-right: 24px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #1F1F1F;
  transition: .2s;
  cursor: pointer;
  outline: none;
  
  @media(max-width: 768px) {
    min-width: 210px;
    height: 48px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  @media(max-width: 370px) {
    min-width: inherit;
    height: 42px;
  }
  
  &:hover {
    background-color: transparent;
    
    span {
      color: #1F1F1F;
    }
    
    &:after, &:before {
      background-color: #1F1F1F;
    }
    
    &:before {
      background-color: transparent;
      border-radius: 0;
      border-bottom: none;
      border-left: none;
    }
  }
  span {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    position: relative;
    top: -1px;
  
    @media(max-width: 768px) {
      display: block;
      width: 100%;
      text-align: center;
    }
  
    @media(max-width: 370px) {
      font-size: 12px;
    }
  }
  
  &:after {
    content: "";
    display: inline-block;
    width: 47px;
    height: 1px;
    background-color: #fff;
    margin-left: 50px;
    
    @media(max-width: 768px) {
      display: none;
    }
  }
  
  &:before {
    content: "";
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%) rotate(45deg);
    display: block;
    border: 1px solid #1F1F1F;
    box-sizing: border-box;
    transition: .1s;
  
    @media(max-width: 768px) {
      display: none;
    }
  }
}

.loading {
  position: relative;
  
  &#{&}--black {
    &:after {
      background-color: #3A4146;
    }
  }
  
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    background-image: url("../ico/spinner.svg");
    background-size: 100px 100px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: .2s;
    pointer-events: none;
  }
}


//Clearfix
.cf:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.cf { display: inline-block; }
/* start commented backslash hack \*/
* html .cf { height: 1%; }
.cf { display: block; }
/* close commented backslash hack */

//Title Head
.title-head {
  width: 100%;
  border-bottom: 1px solid #ECECEC;
  
  &__wrap {
    width: 665px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
  
    @media(max-width: 768px) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
    
    @media(max-width: 370px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    
    h1 {
      line-height: 1.1;
  
      @media(max-width: 768px) {
        margin-top: 41px;
      }
    }
  }
}