.navigation {
  //height: 39px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: #FBFBFB;
  
  @media(max-width: 992px) {
    display: none;
  }
  
  .container {
    height: 100%;

    &:after, &:before {
      display: none;
    }
    
    .row {
      height: 100%;

      &:after, &:before {
        display: none;
      }
    }
  }
  
  
  ul {
    display: flex;
    
    li {
      list-style: none;
      margin-right: 37px;

      @media(max-width: 1180px) {
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
    
    a {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 26px;
      letter-spacing: 0.1em;
      text-decoration: none;
      color: #858585;
      transition: .2s;
      text-transform: uppercase;
      
      &:hover, &.active {
        color: #292929;
      }
    }
    
  }
  
  &__phone {
    display: flex;
    justify-content: flex-end;
    
    a {
      transition: .2s;
      color: #1F1F1F;
      line-height: 1;
      
      &:hover {
        opacity: .7;
      }
    }
  }
  
}

.menu {
  border-bottom: 1px solid #ECECEC;
  position: relative;
  z-index: 100;
  background-color: #fff;
  position: sticky;
  top: 0;
  
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 23px;
    position: relative;

    &:after, &:before {
      display: none;
    }
    
    @media(max-width: 992px) {
      padding-top: 19px;
      padding-bottom: 19px;
    }
    
    @media(max-width: 370px) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  
  &__logo {
    display: block;
    
    a {
      display: block;
    }
    
    img {
      width: 170px;
      height: 32px;
      
      @media(max-width: 1180px) {
        //width: 130px;
        //height: 25px;
        width: 110px;
        height: 22px;
      }
      
      @media(max-width: 800px) and (min-width: 769px) {
        width: 107px;
        height: 20px;
      }
      
      @media(max-width: 370px) {
        width: 100px;
        height: 20px;
      }
    }
  }
  
  &__nav {
    
    @media(max-width: 992px) {
      // display: none;
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      padding-bottom: 24px;
      width: 100%;
      height: 100%;
      background-color: #fff;
      
      transform: translateX(-100%) scale(.95);
      opacity: 0;
      transition: transform .2s, opacity 0s;
      will-change: transform;
      
      &.active {
        transform: translateX(0%) scale(1);
        opacity: 1;
        visibility: visible;
      }
    }
    
    & .menu__nav-submenu {
      background: #FFFFFF;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      position: absolute;
      flex-wrap: wrap;
      z-index: 1;
  
      margin-left: -16px;
      //padding: 38px 28px 11px 16px;
      padding: 32px 16px 11px 16px;
      
      transform: translateY(5px);
      opacity: 0;
      pointer-events: none;
      transition: transform .2s;
      min-width: 147px;
      top: -4px;
  
      @media(max-width: 992px) {
        //position: static;
        //transform: translateY(0);
        //opacity: 1;
        //pointer-events: auto;
        //padding: 0;
        //margin-left: 0;
        //box-shadow: none;
        //min-width: initial;
        //display: none;
      }


      li {
        width: 100%;
        display: block;
        margin-right: 0;
        margin-bottom: 4px;
        
        a {
          margin-right: 0;
          width: 100%;
          line-height: 1.4em;
          display: block;
  
          padding-top: 2px;
          padding-bottom: 2px;
          min-width: 80px;

          @media(max-width: 992px) {
            padding-bottom: 0;
            padding-top: 0;
            line-height: 1.4em;
            margin-bottom: 10px;
          }
          
          &:hover {
            color: #C7B386;
          }
        }
      }
    }
    
    ul {
      display: flex;
      list-style: none;
      position: relative;
      top: -1px;
      
      @media(max-width: 992px) {
        top: -1px;
      }
    }
    
    li {
      margin-right: 35px;
      user-select: none;
      
      @media(max-width: 1280px) {
        //margin-right: 20px;
        margin-right: 3vw;
      }
      
      @media(max-width: 1080px) {
        //margin-right: 10px;
        margin-right: 2vw;
      }
      
      &:last-child {
        margin-right: 0;
      }

      &.hover:hover {

        @media(min-width: 993px) {
          position: relative;
          z-index: 10;

          .menu__nav-submenu {
            transform: translateY(0px);
            opacity: 1;
            pointer-events: auto;
          }

          span {
            &:after {
              transform: rotate(90deg);
            }
          }
        }
      }

      &.opensub {
        @media(max-width: 992px) {
          position: relative;
          z-index: 11;

          .menu__nav-submenu {
            transform: translateY(0px);
            opacity: 1;
            pointer-events: auto;

            display: block;

            a {
              opacity: 1;
              transform: translateY(0px);
            }
          }

          span {
            &:after {
              transform: rotate(90deg);
            }
          }
        }
      }
      
      @media(min-width: 1025px) {
        &.active {
          a, span {
            color: #1F1F1F;
          }
        }
        
        &.hover {
          a, span {
            color: #1F1F1F;
          }
        }
        
        &.no-hover {
          a,span {
            color: #A5A5A5;
          }
        }
      }

      @media(max-width: 992px) {
        .menu__nav-submenu {
          display: block;
          //padding-left: 10px;
          //padding-top: 5px;
          padding-top: 40px;
          position: absolute;
          //left: 0;
          //top: 0;
          //margin-top: 32px;
          background-color: #fff;
          box-shadow: 0 0 5px rgba(0,0,0,.3);
          padding-right: 10px;
          box-sizing: border-box;

          padding-left: 10px;
          margin-left: -10px;

          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 5px;

          position: relative;
          box-shadow: none;
          padding-top: 10px;
          padding-bottom: 0;
          display: none;

          a {
            font-size: 18px;
            line-height: 1.3;

            opacity: 1;
            transform: translateY(10px);
            transition: .2s;
            transition-delay: .1s;
          }
        }
      }

      @media(max-width: 370px) {
        .menu__nav-submenu {
          //margin-top: 25px;
          padding-top: 35px;

          padding-left: 15px;
          padding-right: 15px;

          padding-top: 12px;

          a {
            font-size: 16px;
          }
        }
      }
      //&.hover {
      //
      //  @media(max-width: 370px) {
      //    .menu__nav-submenu {
      //      //margin-top: 25px;
      //      padding-top: 35px;
      //
      //      padding-left: 15px;
      //      padding-right: 15px;
      //
      //      a {
      //        font-size: 16px;
      //      }
      //    }
      //  }
      //}
  
      > span {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 26px;
        color: #1F1F1F;
        padding-top: 10px;
        transition: .5s;
        padding-bottom: 10px;
        letter-spacing: 0.2px;
        position: relative;
        z-index: 2;
        cursor: pointer;
    
        &.active {
          color: #1F1F1F;
          pointer-events: none;
        }
    
        &.no-hover {
          color: #A5A5A5;
        }
  
        @media(max-width: 1280px) {
          font-size: 12px;
        }
    
        @media(max-width: 860px) {
          font-size: 12px;
        }

        &:after {
          content: "";
          display: inline-block;
          width: 11px;
          height: 8px;
          background: url("../ico/arrow-left.svg") center center no-repeat;
          background-size: contain;
          transform: rotate(-90deg);
          transform-origin: center center;
          margin-left: 4px;
          transition: .2s;

          @at-root .bx-firefox & {
            width: 12px;
          }
        }
  
        @media(max-width: 992px) {
          //display: none;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          padding-bottom: 0;
          padding-top: 0;
          line-height: 1.4em;

          &:after {
            position: relative;
            top: -1px;
          }
        }

        @media(max-width: 370px) {
          font-size: 16px;
          //line-height: 40px;
          line-height: 1.4em;
        }
      }
      
    }
    
    //> span {
    //  &:after {
    //    content: "";
    //    display: inline-block;
    //    width: 11px;
    //    height: 8px;
    //    background: url("../ico/arrow-left.svg") center center no-repeat;
    //    background-size: contain;
    //    transform: rotate(-90deg);
    //    transform-origin: center center;
    //    margin-left: 4px;
    //    transition: .2s;
    //  }
    //}
    
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 26px;
      color: #1F1F1F;
      padding-top: 10px;
      transition: color .5s;
      padding-bottom: 10px;
      letter-spacing: 0.2px;
      position: relative;
      z-index: 2;
      cursor: pointer;
      
      &.active {
        color: #1F1F1F;
        pointer-events: none;
      }
      
      &.no-hover {
        color: #A5A5A5;
      }
      
      @media(max-width: 860px) {
        font-size: 12px;
      }
    }
    
    &-links {
      @media(max-width: 992px) {
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
      }
      
      li {
        @media(max-width: 992px) {
          width: 50%;
          margin-right: 0;
          margin-bottom: 9px;
        }

        &:hover {
          z-index: 10;
        }
      }
      
      a {
        text-decoration: none !important;
        @media(max-width: 992px) {
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          //line-height: 50px;
          padding-bottom: 0;
          padding-top: 0;
          line-height: 1.4em;
          padding-right: 10px;
        }
        
        @media(max-width: 370px) {
          font-size: 16px;
          //line-height: 40px;
          line-height: 1.4em;
        }
      }
    }
    
    &-head {
      margin-bottom: 15px;
      
      @media(min-width: 993px) {
        display: none;
      }

      @media(max-width: 992px) {
        margin-bottom: 24px;
      }
    }
    
    &-mobile {
      border-top: 1px solid #ECECEC;
      margin-top: 18px;
      padding-top: 13px;
      
      
      @media(min-width: 993px) {
        display: none;
      }


      @media(max-width: 992px) {
        //margin-top: 6px;
      }

      ul {
        @media(max-width: 992px) {
          display: flex;
          flex-wrap: wrap;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      
      li, noindex {
        width: 100%;
        margin-right: 0;
        
        @media(min-width: 400px) {
          width: 50%;
        }
      }
      
      a {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 35px;
        
      }
    }
    
    &-footer {
      padding-left: 20px;
      padding-right: 20px;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 11px;
      
      @media(min-width: 993px) {
        display: none;
      }

      @media(max-width: 500px) {
        flex-wrap: wrap;

        a {
          width: 100%;
        }

        .social {
          li {
            width: 36px;
          }
        }
      }
      
      a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
  
  &__btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    .btn {
      margin-left: 27px;
  
      @media(max-width: 1280px) {
        margin-left: 15px;
      }
      
      @media(max-width: 992px) {
        margin-left: 15px;
      }
  
      @media(max-width: 500px) {
        margin-left: 15px;
      }
    }
  }
  
  &__cart {
    cursor: pointer;
    margin-right: 21px;
    position: relative;
    //top: 1px;
    top: 0;

    @media(max-width: 992px) {
      margin-right: 15px;
    }
    
    @media(max-width: 992px) {
      margin-right: 21px;
    }
  
    @media(max-width: 500px) {
      margin-right: 15px;
    }

    @at-root body.bx-retina.browser-chrome & {
      top: -2px;
    }
    
    &:hover {
      svg {
        // fill: #C7B386;
        opacity: .7;
      }
    }
    
    img, svg {
      width: 24px;
      height: 21px;
      
      fill: #1F1F1F;
      transition: .2s;
      transform: translate3d(0, 0, 0);
    }
    
    span {
      position: absolute;
      top: -6px;
      left: 16px;
      min-width: 17px;
      height: 17px;
      border-radius: 100%;
      background: #EFE8D8;
      //border: 1px solid #FFFFFF;
      box-sizing: border-box;
      
      font-size: 9px;
      //padding-right: 2px;
      padding-right: 1px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
  
      padding-left: 1px;
      color: #000;
      border: 1px solid #fff;

      @at-root .bx-mac & {
        padding-top: 0;
        padding-bottom: 1px;
        padding-left: 2px;
      }

      @at-root html.browser-chrome.bx-retina & {
        top: 2px;
      }
    }
  }
  
  &__search {
    cursor: pointer;
    position: relative;
    //top: 1px;
    top: 1px;

    img, svg {
      width: 21px;
      height: 21px;
      transition: .2s;
      user-select: none;
      transform: translate3d(0, 0, 0);
      
      fill: #1F1F1F;
      
      &.active {
        pointer-events: none;
      }
    }
    
    
    &:hover {
      svg {
        // fill: #C7B386;
        opacity: .7;
      }
    }
    
    .container {
      height: 100%;
    }
    
    form {
      position: absolute;
      top: 100%;
      left: 0;
      height: 84px;
      width: 100%;
      margin-top: 1px;
      background-color: #fff;
      transform: translateY(10px);
      opacity: 0;
      transition: .2s;
      pointer-events: none;
      // box-shadow: -2px 2px 10px 0px rgba(#1F1F1F, .1);
      
      @media(max-width: 992px) {
        height: 60px;
      }
      
      &.active {
        transform: translateY(0px);
        opacity: 1;
        pointer-events: auto;
      }
      
      input {
        width: 100%;
        height: 100%;
        // right: 20px;
        display: block;
        border: 0;
        padding-right: 40px;
        
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 1;
        color: #292929;
        outline: none;
        
        &::placeholder {
          color: #D8D8D8;
        }
        
        @media(max-width: 992px) {
          font-size: 18px;
        }
      }
      
      svg {
        position: absolute;
        top: 50%;
        right: 20px;
        width: 14px;
        height: 14px;
        transform: translateY(-50%);
      }
    }
  }
  
  &__user {
    cursor: pointer;
    display: none;
    margin-left: 18px;
    
    @media(max-width: 992px) {
      display: block;
    }
    
    img, svg {
      width: 21px;
      height: 21px;
      transition: .2s;
      user-select: none;
      fill: #1F1F1F;
      transform: translate3d(0, 0, 0);
    }
    
    &:hover {
      svg {
        // fill: #C7B386;
        opacity: .7;
      }
    }
  }
  
  &__login {
    z-index: 1;
    height: 36px;
    
    @media(max-width: 992px) {
      //display: none;
    }

    span {
      font-size: 11px;
      position: relative;
      top: -1px;

      @media(max-width: 768px) {
        //font-size: 0;
      }

      @at-root .bx-mac.bx-chrome & {
        top: -1px;
        //top: 0;
      }

      //@at-root .bx-mac.bx-chrome:not(.borwser-safari) & {
      //  //top: -1px;
      //  top: -1px;
      //}

      @at-root .bx-mac.bx-firefox & {
        top: -1px;
      }

      @at-root .bx-mac.bx-safari & {
        top: -1px;
      }

      @at-root html.browser-safari.bx-retina & {
        top: 0;
      }
    }
  }
  
  &__open {
    height: 16px;
    width: 22px;
    fill: #1F1F1F;
    cursor: pointer;
    display: none;
    margin-left: 23px;
    position: relative;
    
    @media(max-width: 500px) {
      margin-left: 15px;
    }
    
    &:after {
      content: "";
      width: 200%;
      height: 300%;
      background-color: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    &:hover {
      svg {
        fill: #1f1f1f;
      }
    }
    
    img, svg {
      width: 22px;
      height: 16px;
      transition: .2s;
      user-select: none;
    }
    
    @media(max-width: 992px) {
      display: block;
    }
  }
  
}

.menu-search {
  position: absolute;
  top: 100%;
  left: 0;
  height: 84px;
  width: 100%;
  margin-top: 1px;
  background-color: #fff;
  transform: translateY(10px);
  opacity: 0;
  transition: .2s;
  pointer-events: none;
   box-shadow: -2px 2px 10px 0px rgba(#1F1F1F, .1);

  @media(max-width: 992px) {
    height: 60px;
  }
  
  .container {
    height: 100%;
    position: relative;
  }

  &.active {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: auto;
  }

  input {
    width: 100%;
    height: 100%;
    // right: 20px;
    display: block;
    border: 0;
    //padding-right: 90px;
  
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1;
    color: #292929;
    outline: none;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
    padding-right: 60px;
  
  
    padding-bottom: 5px;
  
    &::placeholder {
      color: #D8D8D8;
      font-weight: normal;
    }

    @at-root .bx-mac & {
      //padding-top: 5px;

      &::placeholder {
        padding-top: 1px;
      }
    }
  
    @media(max-width: 992px) {
      font-size: 18px;
      padding-right: 40px;
    }
  }

  &__close {
    //width: 84px;
    width: 60px;
    height: 84px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  
    //background-color: red;
    
    &:hover {
      svg {
        fill: #C7B386;
      }
    }
  
    @media(max-width: 992px) {
      height: 60px;
      width: 54px;
      right: 0;
      justify-content: center;
    }
    
    @media(max-width: 370px) {
      width: 44px;
    }
  
    svg {
      width: 14px;
      height: 14px;
      transition: .2s;
      right: 20px;
      position: relative;

      @media(max-width: 992px) {
        right: 0;
      }
    }
  }
}