.pcatalog {
  &__wrap {
  
  }
  
  &__head {
    margin-bottom: 25px;
    
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 27px;
      display: inline-block;
    }

    em {
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1;
      color: #A1A1A1;
    }
  }
  
  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 15px;
    margin-bottom: 37px;
    
    &-wrap {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      
      em {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 1;
        color: #828282;
        margin-right: 16px;
        position: relative;
        top: -2px;
  
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        li {
          list-style: none;
          transition: .2s;
          margin-right: 19px;
  
          margin-bottom: 10px;
          margin-top: 10px;
  
          &.active, &:hover {
            background: #C7B386;
            border-radius: 5px;
            
            a {
              color: #fff;
            }
          }
          
          a {
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 1;
            color: #1F1F1F;
            text-decoration: none;
            display: block;
            
            padding: 5px 8px 8px;
          }
        }
      }
    }
  }
  
  &__changegrid {
    width: 69px;
    height: 42px;
    background: #FAFAFA;
    border-radius: 5px;
    display: flex;
    
    button {
      width: 50%;
      height: 100%;
      border: 0;
      background-color: transparent;
      padding: 0;
      position: relative;
      cursor: pointer;
      outline: none;
      
      &:hover, &.active {
        svg {
          fill: #C7B386;
        }
      }

      svg {
        width: 16px;
        height: 16px;
  
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: .2s;
        fill: #BCBCBC;
      }
      
      &.max {
        svg {
          right: 6px;
        }
      }
      
      &.min {
        svg {
          left: 6px;
        }
      }
    }
  }
  
  &__filter {
    margin-bottom: 43px;
  }
  
  &__grid {
    display: flex;
    //justify-content: space-between;
    flex-wrap: wrap;
    
    &.min {
      .product {
        width: calc(20% - 12px);
        margin-bottom: 20px;
        margin-right: 15px;
  
        &:nth-child(5n) {
          margin-right: 0;
        }
      }
    }
    
    &:not(.min) {
      .product {
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }

    .product {
      width: calc(33.333% - 15px);
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }
  
  .bx-pagination {
    border-top: 1px solid #ECECEC;
    margin-top: 44px;
    padding-top: 38px;
    margin-bottom: 112px;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  .custom-select {
    //min-width: 127px;
    margin-right: 40px;
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  &-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    padding-top: 11px;
    border-top: 1px solid #ECECEC;
  }
  
  &-selected {
    width: calc(100% - 185px);
    //padding-right: 20px;
    
    &__item {
      border: 1px solid #1F1F1F;
      box-sizing: border-box;
      border-radius: 5px;
      display: inline-flex;
      align-items: center;
  
      padding: 9px 10px;
  
      margin-top: 5px;
      margin-bottom: 5px;
  
      span {
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 1;
        letter-spacing: 0.1em;
        color: #1F1F1F;
      }
      
      button {
        width: 8px;
        height: 8px;
        margin-left: 10px;
        cursor: pointer;
        position: relative;
        
        border: 0;
        padding: 0;
        background: transparent;
        display: block;
        outline: none;
        
        &:after {
          content: "";
          background-color: transparent;
          width: 300%;
          height: 300%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        
        &:hover {
          svg {
            fill: #1F1F1F;
          }
        }
        
        svg {
          width: 100%;
          height: 100%;
          display: block;
          fill: #ABABAB;
          transition: .2s;
        }
      }
    }
  }
  
  &-reset {
    min-width: 185px;
    height: 30px;
    background: #F5F5F5;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 0;
    outline: none;
    transition: .2s;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
  
    margin-top: 5px;
    
    &:hover {
      background-color: #EDEDED;
    }
    
    span{
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 1;
      letter-spacing: 0.1em;
      color: #1F1F1F;
      text-align: center;
    }
  }
}

