.remodal-overlay {
  @media(max-width: 580px) {
    background-color: #fff;
  }
}

.remodal {
  background-color: transparent;
}

.remodal-wrapper {
  @media(max-width: 580px) {
    padding: 0;
    //padding-top: 40px;
  }
  
  & > .remodal-close {
    width: 53px;
    height: 53px;
    border-radius: 100%;
    background: #FFFFFF;
  
    position: absolute;
    top: 71px;
    left: initial;
    right: 103px;
    transition: .2s;
    
    @media(max-width: 992px) {
      top: 20px;
      right: 20px;
    }
  
    @media(max-width: 580px) {
      top: 0;
      right: 0;
      width: 55px;
      height: 55px;
      border-radius: 0;
    }
    
    &:hover {
      background-color: #1F1F1F;
  
      @media(max-width: 580px) {
        background-color: #fff;
      }
      
      &:before {
        filter: invert(100);
  
        @media(max-width: 580px) {
          filter: invert(0);
        }
      }
    }
    
    &:before {
      width: 17px;
      height: 17px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      font-size: 0;
      transition: .2s;
      background: url("../ico/close.svg") center center no-repeat;
      bckground-size: contain;
    }
  }
  
  &.remodal-is-closing, &.remodal-is-closed {
    & > .remodal-close {
      opacity: 0;
    }
    
    .remodal {
      opacity: 0;
    }
  }
}
.remodal {
  padding: 0;
  max-width: initial;
  width: auto;
  
  @media(max-width: 580px) {
    width: 100%;
  }
  
  .remodal-close {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  
  &[data-remodal-id='reglogin'] {
    @media(max-width: 580px) {
      height: 100%;
      margin-bottom: 0;
      
      .cmodal {
        height: 100%;
        
        > .cmodal-item {
          height: 100%;
          flex-direction: column;
          
          &.active {
            display: flex;
            
            .cmodal-item {
              height: calc(100% - 55px);
              flex: 1;
              overflow: auto;
              
              form {
                width: 100%;
                //overflow: auto;
                //height: 100%;
                //
                //display: flex;
                //flex-direction: column;
                //justify-content: center;
              }
              
              &.active {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin: auto;
                //align-items: center;
                //flex-direction: column;
                //justify-content: center;
                
                form {
                  margin: auto;
                }
              }
            }
          }
        }
      }
    }
  }

  &[data-remodal-id='addproduct'] {
    width: 649px;

    @media(max-width: 700px) {
      width: 100%;
    }

    .cmodal {
      &-item {
        width: 100%;
        padding: 30px 34px 51px;

        @media(max-width: 600px) {
          padding: 30px 25px 30px;
        }

        @media(max-width: 580px) {
          padding-top: 60px;
        }
      }

      h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 55px;

        @media(max-width: 600px) {
          margin-bottom: 30px;
        }
      }

      .listitems {
        margin-bottom: 10px;
      }

      &-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 44px;

        @media(max-width: 600px) {
          flex-wrap: wrap;
          margin-top: 30px;
        }

        .btn-black, .btn-submit {
          min-width: inherit;
          width: calc(50% - 11px);

          @media(max-width: 600px) {
            width: 100%;
            margin-top: 10px;

            &:first-child {
              margin-top: 0;
            }
          }
        }

        //.btn-submit {
        //  span {
        //    color: #fff;
        //  }
        //
        //  &:hover {
        //    span {
        //      color: $black;
        //    }
        //  }
        //}
      }
    }
  }
}

.cmodal {
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.01);
  border-radius: 5px;
  transition: .2s;
  
  @media(max-width: 580px) {
    border: 0;
  }
  
  &#{&}-single {
    .cmodal-item {
      display: block;
    }
  }
  
  &-tab {
  
    
    &__wrap {
      height: 59px;
      background: #FBF7F0;
      border-radius: 0 4px 0 0;
      display: flex;
  
      @media(max-width: 580px) {
        height: 55px;
        padding-right: 55px;
      }
    }
    
    &__btn {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FBF7F0;
      cursor: pointer;
      user-select: none;
      transition: .2s;
      
      &.active {
        background-color: #fff;
      }
      
      span {
        position: relative;
        top: -2px;
  
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 1;
        color: #1f1f1f;
  
        @media(max-width: 580px) {
          font-size: 16px;
        }
      }
    }
  }
  
  &-item {
    width: 470px;
    padding: 36px 73px 37px;
    display: none;
  
    @media(max-width: 580px) {
      padding: 20px 20px;
      width: 100%;
      
      form {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    
    &.cmodal-middle {
      width: 541px;
      
      @media(max-width: 581px) {
        width: 100%;
      }
    }
    
    &.cmodal-max {
      width: 808px;
  
      @media(max-width: 848px) {
        width: 100%;
      }
    }
    
    &.active {
      display: block;
    }
    
    h2 {
      margin-top: 0;
      margin-bottom: 19px;
      text-align: left;
  
      @media(max-width: 580px) {
        text-align: center;
      }
    }
    
    .input-block {
      margin-bottom: 35px;
    }
    
    .cmodal-submit {
      width: 100%;
      height: 56px;
      min-width: initial;
  
      margin-top: 38px;
      margin-bottom: 20px;
    }
  
    .btn-forgot {
      display: block;
      text-align: center;
      
      a {
        display: inline-block;
        line-height: 1;
      }
    }
    
    p {
      width: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 18px;
      text-align: center;
  
      color: #ACACAC;
  
      @media(max-width: 580px) {
        width: 100%;
      }
    }
    
    .cmodal-head {
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.4;
        color: #7B7B7B;
        margin-bottom: 43px;
        display: inline-block;
      }
    }
  
    .cmodal-footer {
      text-align: center;
      
      button {
      
      }
      
      > span {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: #1F1F1F;
        display: block;
        width: 100%;
      }
      
      .link-resend {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: #1F1F1F;
        text-decoration: underline;
  
        margin-top: 15px;
        display: inline-block;
        
        &:hover {
          text-decoration: none;
          color: #C7B386;
        }
      }
    }
  }
  
  &-social {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    
    span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #7B7B7B;
      display: inline-block;
      margin-right: 12px;
      text-align: left;
    }
    
    .social {
      ul {
        display: flex;
        
        li {
          width: 35px;
          height: 35px;
          
          a {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  @at-root .bx-mac.bx-firefox {
    .btn-yellow {
      span {
        top: 2px;
      }
    }
  }

  @at-root .bx-mac.bx-chrome {
    .btn-yellow {
      span {
        top: 2px;
      }
    }
  }

  &-reglogin {
    padding: 0;
    width: auto;
  }
  
  &-login {
  
  }
  
  &-reg {
  
  }
  
  &-phone {
  
  }
  
  &-phonenum {
  
  }
  
  &-success {
    padding-left: 169px;
    padding-right: 50px;
    padding-bottom: 82px;
    position: relative;
  
    @media(max-width: 580px) {
      position: static;
      padding: 30px 20px;
      text-align: center;
      
      &.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    
    svg {
      width: 62px;
      height: 46px;
      fill: #54A62C;
  
      position: absolute;
      top: 97px;
      left: 56px;
      
      @media(max-width: 580px) {
        position: static;
      }
    }
    
    h2 {
      margin-top: 22px;
      margin-bottom: 35px;
  
      @media(max-width: 580px) {
        text-align: center;
      }
    }
    
    > span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #000000;
      line-height: 1.2;
      text-align: left;
      width: 100%;
      display: inline-block;
      margin-bottom: 57px;
  
      @media(max-width: 580px) {
        text-align: center;
        margin-bottom: 37px;
      }
    }
    
    button {
      height: 56px;
  
      @media(max-width: 580px) {
        display: inline-block;
      }
    }
  }
}


.text-repeat {
  span {
    margin-left: 4px;
    margin-right: 4px;
  }
}