.return {
  &__wrap {
  }
  
  .title-head {
    margin-top: 89px;
    margin-bottom: 54px;
    
    @media(max-width: 768px) {
      margin-top: 40px;
      margin-bottom: 20px;
    }
    
    @media(max-width: 560px) {
      margin-top: 33px;
    }
    
    
    h1 {
      @media(max-width: 560px) {
        margin-top: 33px;
        margin-bottom: 16px;
      }
    }
    
    &__wrap {
      @media(max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  
  &__content {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 128px;
  
    @media(max-width: 768px) {
      width: 100%;
      margin-bottom: 56px;
    }
    
    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 35px;
      //margin-top: 0;
      margin-top: 62px;
      margin-bottom: 22px;
  
      @media(max-width: 768px) {
        margin-top: 40px;
      }
  
      @media(max-width: 560px) {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 12px;
        margin-top: 27px;
      }
    }
    
    p {
      font-style: normal;
      font-size: 16px;
      line-height: 29px;
      margin-top: 0;
      margin-bottom: 11px;
      
      @media(max-width: 560px) {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 0;
      }
    }
    
    ul {
      list-style: none;
      
      li {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 8px;
      
        @media(max-width: 768px) {
          font-size: 13px;
          line-height: 25px;
        }
  
        @media(max-width: 560px){
          margin-bottom: 0;
        }
      }
    }
  }
}